
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #e85b04ee;
  
  position: relative;
  z-index: 20;
}

.nav > .nav-header {
  display: inline;
  width:20%;
  height: 100%;


}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* // */


.directions-cont{
  background-color: rgba(255, 140, 0, 0.371) ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  text-align: center;
  justify-content: space-evenly;
  align-items: center;

}

.directions-cont > div{ 
  /* background-color: rgba(255, 140, 0, 0.371); */
  background-color: #e85b04ee;
  color: white;
  width: 382px;
  padding: 2%;
  margin: 1px;
  
}

.home-bg-img{
  overflow: hidden;
  width: 100%;
  max-height: 670px ;
  background-color: darkred;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcoming-text{
  position: absolute;
  background-color: #8ecae652;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 0.5%;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 15px black;
}

::-webkit-scrollbar {
  width: 0%;
}

.footer-cont{
  /* background-color: rgba(255, 140, 0, 0.371) ; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
background-color: #023047;
color: white;
  /* text-align: center; */
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer-cont > div {
  /* background-color: #e85b04ee; */
  /* color: white; */
  width: 384px;
  padding: 2%;
  
  /* margin: 1px; */
}

.footer-link{
  text-decoration: none;
  color: white;
}
.footer-link:hover{
  color:#e85b04ee ;
}

.footer-cont a{
  text-decoration: none;
  color: white;
}
.footer-cont a:hover{
  color:#e85b04ee ;

}

.about-cont{
  max-height: 670px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-text{
  width: 40%;
  height: 80%;
 overflow-y: scroll;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.342);
  z-index: 2;
  padding: 2%;
  text-align: justify;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 20px #e85b04ee;
  border-radius: 30px 0 30px 0;
  /* font-size: 1vw; */
}
.about-text h3{
 text-align: center;
}
.gallary-cont{
  background-color: #e5e5e5;
  width: 100%;
  min-height:670px ;
  max-height:670px ;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.gallary-image{
  width: 40%;
  height: 80%;
  /* height: fit-content; */
 overflow-y: scroll;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.342);
  z-index: 2;
  /* padding: 2%; */
  
  /* border-radius: 30px 0 30px 0; */
}
.image-g{
  margin-bottom: 2.5%;
  border-radius: 30px 0 30px 0;
}

.img-show {
width: 100%;
height: 90% ;
z-index: 20;
display: flex;
flex-direction: column;
align-items: center;
position: relative;


}