* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #e85b04ee;

  position: relative;
  z-index: 20;
}

.nav > .nav-header {
  display: inline;
  width: 20%;
  height: 100%;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* // */

.directions-cont {
  background-color: rgba(255, 140, 0, 0.371);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.directions-cont > div {
  /* background-color: rgba(255, 140, 0, 0.371); */
  background-color: #e85b04ee;
  color: white;
  width: 382px;
  padding: 2%;
  margin: 1px;
}

.home-bg-img {
  overflow: hidden;
  width: 100%;
  max-height: 670px;
  background-color: darkred;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcoming-text {
  position: absolute;
  background-color: #8ecae652;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 0.5%;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 15px black;
}

::-webkit-scrollbar {
  width: 0%;
}

.footer-cont {
  /* background-color: rgba(255, 140, 0, 0.371) ; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #023047;
  color: white;
  /* text-align: center; */
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer-cont > div {
  /* background-color: #e85b04ee; */
  /* color: white; */
  width: 384px;
  padding: 2%;

  /* margin: 1px; */
}

.footer-link {
  text-decoration: none;
  color: white;
}
.footer-link:hover {
  color: #e85b04ee;
}

.footer-cont a {
  text-decoration: none;
  color: white;
}
.footer-cont a:hover {
  color: #e85b04ee;
}

.about-cont {
  max-height: 670px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 40%;
  height: 80%;
  overflow-y: scroll;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.342);
  z-index: 2;
  padding: 2%;
  text-align: justify;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 20px #e85b04ee;
  border-radius: 30px 0 30px 0;
  /* font-size: 1vw; */
}
.about-text h3 {
  text-align: center;
}
.gallary-cont {
  background-color: #e5e5e5;
  width: 100%;
  min-height: 670px;
  max-height: 670px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallary-image {
  width: 40%;
  height: 80%;
  /* height: fit-content; */
  overflow-y: scroll;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.342);
  z-index: 2;
  /* padding: 2%; */

  /* border-radius: 30px 0 30px 0; */
}
.image-g {
  margin-bottom: 2.5%;
  border-radius: 30px 0 30px 0;
}

.img-show {
  width: 100%;
  height: 90%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.inputs-cont {
  position: relative;
}

.icons {
  position: absolute;
  top: 31%;
  /* left:2.5%; */
  left: 15px;
}
.inputs-cont input {
  /* padding-left: 5%; */
  padding-left: 28px;
}
/************************************************************************/
/*************************************************************************/

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 650px;
  position: relative;
  background: url(../src/components/Images/behindform.webp) no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.login-html {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.8s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
  color: #e85b04ee;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #e85b04ee;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #e85b04ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 20px 0 10px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot-lnk,
.foot-lnk a,
.foot-lnk a:hover {
  text-align: center;
  text-decoration: none;
  color: white;
}

.forms-cont {
  min-height: 670px;
  background-color: #fdf0d5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-form{
  width:65%;
  max-width:350px;
  /* background-color:red; */
 padding: 1.5%;
  background-color: #023047;
  color: white;
  border:5px double orange ;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 5px 5px 25px orange;
}

.image-form button{
  width: 140px;
  margin: 1%;
  font-weight: bold;
}


.category-form{
  width:65%;
  max-width:350px;
 padding: 1.5%;
  background-color: #023047;
  color: white;
  border:5px double orange ;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 5px 5px 25px orange;
  
}

.category-form button{
  width: 140px;
  margin: 1%;
  font-weight: bold;
}
.cont-icon{
  position: relative;
}
.delete-dish-icon{
  position: absolute;
  top: 5%;
  right: 2.5%;
}
.edit-dish-icon{
  position: absolute;
  top:5%;
  right:9%
}